#root {
  width: 80vw;
  display: flex;
  justify-content: center;
  margin: auto;
}

body {
  margin: 0;
  font-family: monospace;

  p {
    font-size: 2rem;
    color: black;
    font-family: monospace;
  }
  a {
      font-size: 1rem;
  }
}
