
#awesome-gallery {
    margin: 0;
    font-family: monospace;

    p {
        font-size: 2rem;
        color: #fff;
    }

    section {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    section:nth-of-type(1){
        background-image: url("../resources/images/steve-jobs.jpg");
    }

    section:nth-of-type(2){
        background-image: url("../resources/images/peter-dinklage.jpg");
    }

    section:nth-of-type(3){
        background-image: url("../resources/images/bobby-fischer.jpg");
    }

    section:nth-of-type(4){
        background-image: url("../resources/images/albert-einstein.jpg");
    }
    
}